.edit-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.edit-obj {
  background-color: rgb(200, 199, 199);
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
}
