.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 800px;
  margin: auto;
  gap: 10px;
  text-align: center;
}

.homepage-container > h1 {
  /* font-size: 5.7em; */
  font-size: clamp(4.5em, 9vw, 5.7em);
}
.homepage-container > h2{
  font-size: clamp(1.3em, 3vw, 1.5em);
}

.start-order-btn {
  background-color: orange;
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 1.3em;
}
.start-order-btn:hover {
  background-color: orangered;
}

.header-back-btn {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 10px;
}
