.user-cart {
  width: 600px;
  background-color: rgb(238, 244, 255);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  position: relative;
  padding: 20px;

}

.food-cart {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: inherit;
  gap: 10px;
  margin-bottom: 5px;

  > .left-container {
    flex: 1;
  }
  > .right-container {
    display: inherit;
    flex: 1;
    justify-content: space-around;
  }
}
.user-cart>.bottom-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;

}
.bottom-container>button{
  width: 200px;
  align-self: flex-end;
    margin-right: 1.2rem;
}
.bottom-container>.total-price{
  font-size: larger;
  flex: 1;
  margin-bottom: 0.8rem;
  align-self: flex-end;
  margin-right: 1.2rem;
}
