.card-container {
  background-color: white;
  cursor: pointer;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-8px);
  }
}

.card-body {
  display: flex;
  flex: 1;
}

.card-body :where(.card-left, .card-right) {
  flex: 1;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-left > header {
  flex: 0.6;
}
.card-left > header > .price-ratting {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 8px;
}
.card-left > .card-description {
  margin-bottom: 15px;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card-right > img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  outline: 1px solid red;
  padding: 5px;
}

.card-footer {
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(172, 172, 172);
  padding-top: 20px;
}
.card-footer :where(button, span) {
  flex: 1;
}

.card-footer > button {
  background: red;
  color: white;
  margin: 0;
  box-shadow: 2px 3px 6px rgba(255, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
}
.card-footer > span {
  color: red;
  cursor: pointer;
  font-weight: 600;
}

.food-symbol {
  width: 24px;
  height: 24px;
  border: 2px solid; /* Border matches veg/non-veg color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px; /* Slight rounded corners */
  margin: 5px;
}

.food-symbol::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%; /* Circle inside */
  background: currentColor; /* Same color as border */
}

/* Veg style */
.veg {
  border-color: green;
  color: green;
}

/* Non-Veg style */
.nonveg {
  border-color: red;
  color: red;
}

.card-container > img {
  flex: 1.5;
}

.card-container > .card-mid {
  flex: 1;
}
.card-mid > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.res-card {
  width: 400px;
  height: 400px;
}
