.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Label */
label {
  width: 140px;
  text-align: left;
  font-size: 1em;
  color: #333;
}

/* Input */
input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  flex: 1;
  max-width: 350px;

  &:focus{
    border-color: #007bff;
    outline: none;
  }
}

.checkbox-label{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.checkbox-label input[type="checkbox"]{
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#address {
  height: 100px;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.footer-btn{
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Buttons */
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 10px;

  &:hover{
     background-color: #0056b3;
  }
}

button[type="reset"] {
  background-color: #6c757d;
}


button[type="edit"],
button[type="delete"]{
  background-color: transparent;
  &:hover{
    background: transparent;
  }
}

button img {
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.2);
  }
}


button[type="reset"]:hover {
  background-color: #5a6268;
}
