.login-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(237, 255, 241);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
}
.login-wrapper>header{
  align-self: center;
  margin-top: 20px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.btn-container{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: end;
}
.btn-container .btn-submit{
margin-right: -10px;
}

.check-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

