.search-container {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: end;
}

.search-container > select {
  padding: 11px 15px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  margin-right: 10px;
}
.search-container > input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 200px;
}
.search-container > button {
  margin: 0 30px 0 10px;
}
