.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-container form{
  width: 100%;
}

.main-container .body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.body-content > header {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}


.span-link{
  margin-left: 5px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}