.admin-page {
  display: flex; /* sidebar + content side by side */
  position: relative;
  width: 100vw;
  overflow-y: hidden;
}

.admin-content {
   flex: 1;/* take up remaining width */
  padding: 10px;
  height: auto;
  background-color: #ffffff; /* white content area */
  overflow-y: auto; /* scroll inside content if needed */
  display: flex;
  align-items: center;
  justify-content: center;
}
