.food-selector {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  width: 250px;
}

.food-selector ul {
  list-style: none;
  padding-left: 0;
}

.food-selector li {
  margin-bottom: 10px;
}
