.table-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container>header{
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
  width: 80%;
  font-size: 0.9em;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}
th,
td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
th {
  background-color: #f2f2f2;
}

.page-nav-container{
  margin: 20px 150px 0 0;
  align-self: flex-end;

}