.app-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-content{
    height: 80px;
    flex-shrink: 0;
}

.body-content{
    flex: 1;
    overflow-y: auto;
    background-color: #f0f8ff;
    display: flex;
}